/* Buttons */

.btn-light {
  background: $button-background;
  border: $border-light;
  border-radius: $button-border-radius;
  width: $button-width;
  height: $button-height;
  text-align: $button-text-align;
  color: $button-color-light;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  margin: $button-font-size;
  &:hover,
  &:focus {
    border-color: $button-color-hover;
    color: $button-color-hover;
    transition: $button-transition;
    box-shadow:
    inset -110px 0 0 0 $button-color-light,
    inset 110px 0 0 0 $button-color-light;
  }
}

.btn-dark {
  background: $button-background;
  border: $border-dark;
  border-radius: $button-border-radius;
  width: $button-width;
  height: $button-height;
  text-align: center;
  color: $button-color-dark;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  margin-top: $button-font-size;
  &:hover,
  &:focus {
    transition: $button-transition;
    box-shadow:
    inset -95px 0 0 0 $border-color-light,
    inset 95px 0 0 0 $border-color-light;
  }
}

// Left button
.store-btn-1 {
  background-color: $button-color-dark;
  width: $button-width-store;
  height: $button-height-store;
  text-align: $button-text-align;
  color: $nav-color;
  font-family: $button-font-family;
  font-size: $font-size;
  font-weight: $button-font-weight;
  border-radius: 0;
  &:hover,
  &:focus {
    transition: $button-transition;
    box-shadow:
    inset -95px 0 0 0 $nav-color,
    inset 95px 0 0 0 $nav-color;
    color: $button-color-dark;
  }
}

// Right Button
.store-btn-2 {
  background-color: $button-color-light;
  width: $button-width-store;
  height: $button-height-store;
  text-align: $button-text-align;
  color: $button-color-hover;
  font-family: $button-font-family;
  font-size: $font-size;
  font-weight: $button-font-weight;
  border-radius: 0;
  &:hover,
  &:focus {
    transition: $button-transition;
    box-shadow:
    inset -95px 0 0 0 $nav-color,
    inset 95px 0 0 0 $nav-color;
    color: $button-color-dark;

  }
}
